<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769348769743-51cm61h00e1r8nutvb8i0gkgi5s50nnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769348769743-51cm61h00e1r8nutvb8i0gkgi5s50nnd</string>
	<key>API_KEY</key>
	<string>AIzaSyBcULM_ota8g1dKixXYmJ9d587E_Oh4HQA</string>
	<key>GCM_SENDER_ID</key>
	<string>769348769743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ExameniOS</string>
	<key>PROJECT_ID</key>
	<string>testgruposalinas</string>
	<key>STORAGE_BUCKET</key>
	<string>testgruposalinas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769348769743:ios:c8dc2cc88135a0201564ba</string>
</dict>
</plist>