<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We are requesting user auth to read GPS - ALWAYS</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>OneTimeLocation</key>
		<string>We want to get the full precise location this time only!</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We are requesting user auth to read GPS - ALWAYS</string>
	<key>NSCameraUsageDescription</key>
	<string>Por favor permite el acceso a camara</string>
</dict>
</plist>
